{{#each this}}
<li class='event-card-list'>
  <div class="photo-card">
    <img class='events-img' src={{images}} alt={{name}}/>

    <div class="information">
      <p class="group-name"> {{name}}</p>
      <p class="date">{{dates}} </p>
      <p class="concert-venue"> {{address}}</p>
    </div>
  </div>
</li>
{{/each}}
